.CardContainer{
    width: 300px;
    max-height: 345px;
    box-sizing: border-box;
    background: #010101;
    padding: 10px;
    .CardText{
        border-bottom: white 1px solid;
        img{
            max-width: 96px;
            margin-bottom: 32px;
        }
        h3{
            font-weight: 400;
            font-size: 25px;
            margin-bottom: 12px;
        }
        p{
            opacity: 0.48;
            font-weight: 300;
            font-size: 14px;
            margin-bottom: 40px;
            max-height: 60px;
        }
    }
    .CardLink{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px;
        h3{
            font-weight: 500;
            font-size: 15px;
        }
    }
}

@media(max-width: 1000px){

.CardContainer{
    .CardText{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            max-width: 70px;
            margin-bottom: 25px;
        }
        h3{
            font-size: 20px;
        }
        p{
            font-size: 12px;
        }
    }
}
}